
	<div class="page-heading text-center">

		<div class="container zoomIn animated">
			
			<h1 class="page-title">OUR CAUSES <span class="title-under"></span></h1>
			<p class="page-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit Necessitatibus.
			</p>
			
		</div>

	</div>



<div class="page-heading text-center">

    <div class="container zoomIn animated">

        <h1 class="page-title">Otobüs Bileti <span class="title-under"></span></h1>
        <p class="page-description">
            Aradığınız oteller en uygun fiyatlarla Seyahatbiletcim.com'da!
        </p>

    </div>

</div>

<div class="main-container">

    <div class="container">

        @*Otel için içerik eklenecek.Trivago.com örnek alınmamalı.*@

    </div>






</div> <!-- /.main-container  -->
